<% content_for :js do %>

    // date time picker
    $('.datetimepicker').datetimepicker({
      sideBySide: true,
      locale: "<%= I18n.locale %>"
    });
    $('.datetimepicker').val(moment().format("YYYY-MM-DD hh:mm A"));
    $('.datetimepicker').change();

    $('input:checkbox').bootstrapSwitch();
<% end %>

<%= javascript_include_tag 'fileupload' %>

<% if @incident.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h4><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>
    <ul>
    <% @incident.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@incident, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>

<div class="col-md-10 col-md-offset-1">
  <div class="field form-group col-md-7">
    <%= f.label :subject, t(:subject), :class => 'required' %>
    <%= f.text_field :subject, :class => "form-control"%>
  </div>

  <div class="field form-group col-md-5">
    <%= f.label :priority, t(:priority), :class => 'required' %><br>
    <%= f.select :priority, [[t(:low),'1'],[t(:medium),'2'],[t(:high),'3']],
      {:selected => @incident.priority}, {class: 'selectpicker'} %>

  </div>

  <div class="field form-group col-md-7" >
    <%= f.label :additional_details, t(:additional_details) %>
    <%= f.text_area :additional_details, :class => "form-control", :rows => "10"%>
  </div>

  <div class="field form-group col-md-5">
    <%= f.label :location_of_incident, t(:location_of_incident),
        :class => 'required' %>
    <%= f.text_field :location_of_incident, :class => "form-control"%>
  </div>

  <div class="field form-group col-md-5">
    <%= f.label :time_of_incident, t(:time_of_incident), :class => 'requred' %>
    <%= f.datetime_select :time_of_incident, :class => "form-control"%>
  </div>

  <div class="field form-group col-md-5">
    <%= f.label :incident_category_id, t(:intended_department),
        :class => 'required' %>
    <%= collection_select(:incident, :incident_category_id, IncidentCategory.all_cached,
                          :id, :name, {:prompt => false},
                          {:class => "selectpicker",
                           :'data-live-search' => "true"}) %>
  </div>

  <div class="field form-group col-md-5">
    <%= f.label :public do %>
            <%= f.check_box :public, :checked => true,
                        :data => {:size=>'small', 'on-text'=>t(:public), 'off-text'=>t(:private) }
                %>

    <% end %>
  </div>

  <div class="field form-group col-md-8">
  <%= f.label :picture_url, t(:image_upload) %><br>
  <%= f.file_field :picture_url %>
  </div>

  <div class="actions col-md-10">
      <%= f.submit :class => "btn btn-success btn-md"%>
  </div>
</div>

<% end %>
