<script type="text/javascript">
	$( document ).ready(function() {
		highlight_priorities();
	})

  $(document).ready( function() {
    var table = $('#incident-list').DataTable({
       "dom": 'l<"filtering"f>t<"pagination"p>',
        responsive: true,
        "oLanguage": { "sSearch": "Filter: " }
    });
  });
</script>
<%= stylesheet_link_tag "incidents" %>
<%= stylesheet_link_tag "table" %>


<p id="notice"><%= notice %></p>
<div class="col-md-10 col-md-offset-1">
    <table id="incident-list" class="display table"  >
      <thead>
        <tr>
          <th>Priority</th>
          <th>Subject</th>
          <th>Location of incident</th>
          <th>Time of incident</th>
          <th>Category</th>
          <th>Actions</th>
          <th>Progress</th>
        </tr>
      </thead>

      <tbody>
        <% @incidents.each do |incident| %>
          <tr>
            <td><%= incident.getPriority(incident.priority) %></td>
            <td><%= incident.subject %></td>
            <td><%= incident.location_of_incident %></td>
            <td><%= local_time_ago(incident.time_of_incident) %></td>
            <td><%= incident.incident_category.name if incident.incident_category %></td>
            <td> <%= link_to 'Edit', edit_incident_path(incident), :class => 'btn btn-default' %>
                <%= link_to 'Show', incident, :class => 'btn btn-default' %>
            </td>
            <td><%= incident.getProgress(incident.progress) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
