
<div class="container col-md-6 col-md-offset-5">
<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @incident.subject %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @incident.getPriority(@incident.priority) %>
</p>

<p>
  <strong>Department:</strong>
  <%= @incident.dept_id %>
</p>


<p>
  <strong>Location of incident:</strong>
  <%= @incident.location_of_incident %>
</p>

<p>
  <strong>Time of incident:</strong>
  <%= @incident.time_of_incident %>
</p>

<p>
  <strong>Additional details:</strong>
  <%= @incident.additional_details %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @incident.getProgress(@incident.progress) %>
</p>

<p>
  <strong>Public:</strong>
  <%= @incident.public %>
</p>


<div class="container">
	<button type="button" class="btn btn-default btn-md">
		<%= link_to 'Edit', edit_incident_path(@incident) %>
	</button>
</div>
</div>
