<% content_for :js do %>
    $(".priority").text(priority_to_text($(".priority").text()))
<% end %>

<div class = "col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class = "panel-heading">
        <strong>
        <%= @incident.subject %>
        </strong>
    </div>

    <div class="panel-body">
      <p id="notice" class="text-success"><%= notice %></p>

      <p>
      <strong><%= t(:priority) %>:</strong>
      <span class="priority">
        <%= @incident.getPriority(@incident.priority) %>
      </span>
      </p>

      <p>
        <strong><%= t(:intended_department) %>:</strong>
        <%= @incident.incident_category.name %>
      </p>


      <p>
        <strong><%= t(:location_of_incident) %>:</strong>
        <%= @incident.location_of_incident %>
      </p>

      <p>
        <strong><%= t(:time_of_incident) %>:</strong>
        <%= @incident.time_of_incident %>
      </p>

      <p>
        <strong><%= t(:additional_details) %>:</strong>
        <%= @incident.additional_details %>
      </p>

      <p>
        <strong><%= t(:progress)%>:</strong>
        <%= @incident.getProgress(@incident.progress) %>
      </p>

      <p>
        <strong><%= t(:visibility) %>:</strong>
        <% if @incident.public %>
          <%= I18n.t(:public) %>
        <% else %>
          <%= I18n.t(:private) %>
        <% end %>

      </p>

      <p>
        <%= image_tag(@incident.picture_url, width: '30%', height: '30%', alt: t(:no_image), class: "logo") %>
      </p>

      <div class="btn-group col-md-offset-5" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-md">
          <%= link_to t(:edit), edit_incident_path(@incident) %>
        </button>
        <button type="button" class="btn btn-default btn-md">
          <%= link_to t(:view_all), incidents_path(@incident) %>
        </button>
      </div>
    </div>
  </div>
</div>
