<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :priority %><br>
    <%= f.number_field :priority, :class => "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :dept_id %><br>
    <%= f.number_field :dept_id, :class => "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :person_id %><br>
    <%= f.number_field :person_id, :class => "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, :class => "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :location_of_incident %><br>
    <%= f.text_field :location_of_incident, :class => "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :time_of_incident %><br>
    <%= f.datetime_select :time_of_incident, :class => "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :additional_details %><br>
    <%= f.text_field :additional_details, :class => "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :progress %><br>
    <%= f.number_field :progress, :class => "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :public %><br>
    <%= f.check_box :public, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :picture_url %><br>
    <%= f.text_field :picture_url, :class => "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :video_url %><br>
    <%= f.text_field :video_url, :class => "form-control"%>
  </div>
  <div class="actions">
      <%= f.submit :class => "btn btn-success btn-md"%>
  </div>
<% end %>
