<script type="text/javascript">
	/*$( document ).ready(function() {
		highlight_priorities();
	})*/

  $(document).ready( function() {
    $('#incident-list').DataTable();
  });
</script>

<p id="notice"><%= notice %></p>
<div class="col-md-10 col-md-offset-1">
    <table id="incident-list" class="display table"  >
      <thead>
        <tr>
          <th>Subject</th>
          <th>Location of incident</th>
          <th>Time of incident</th>
          <th>Additional details</th>
          <th>Progress</th>
          <th>Dept</th>

          <!--<th colspan="2"></th>-->
        </tr>
      </thead>

      <tbody>
        <% @incidents.each do |incident| %>
          <tr>
            <td><%= incident.subject %></td>
            <td><%= incident.location_of_incident %></td>
            <td><%= incident.time_of_incident %></td>
            <td><%= incident.additional_details %></td>
            <td><%= incident.progress %></td>
            <td><%= incident.dept_id %></td>

            <!--<td><%= link_to 'Show', incident %></td>
            <td><%= link_to 'Edit', edit_incident_path(incident) %></td>-->
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
