<script type="text/javascript">
	$( document ).ready(function() {
		highlight_priorities();
	})

  $(document).ready( function() {
    var table = $('#incident-list').DataTable({
       "dom": 'l<"filtering"f>t<"pagination"p>',
        responsive: true,
        "oLanguage": { "sSearch": "Filter: " }
    });
    $('#incident-list tbody').on( 'click', 'tr', function () {

          if ( $(this).hasClass('selected') ) {
              $(this).removeClass('selected');
          }
          else {
              table.$('tr.selected').removeClass('selected');
              $(this).addClass('selected');
          }
      } );
  });
</script>
<%= stylesheet_link_tag "incidents" %>


<p id="notice"><%= notice %></p>
<div class="col-md-10 col-md-offset-1">
    <table id="incident-list" class="display table"  >
      <thead>
        <tr>
          <th>Priority</th>
          <th>Subject</th>
          <th>Location of incident</th>
          <th>Time of incident</th>
          <th>Additional details</th>
          <th>Progress</th>
          <th>Dept</th>
          <th>Actions</th>
          <!--<th colspan="2"></th>-->
        </tr>
      </thead>

      <tbody>
        <% @incidents.each do |incident| %>
          <tr>
            <td><%= incident.priority %></td>
            <td><%= incident.subject %></td>
            <td><%= incident.location_of_incident %></td>
            <td><%= incident.time_of_incident %></td>
            <td><%= incident.additional_details %></td>
            <td><%= incident.progress %></td>
            <td><%= incident.dept_id %></td>
            <td> <%= link_to 'Edit', edit_incident_path(incident), :class => 'btn btn-default' %>
                <%= link_to 'Show', incident, :class => 'btn btn-default' %>
                </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
